body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.header-custom {
  background-color: #981f2b;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
}

.logo-custom a {
  text-decoration: none;
  color: white;
  font-size: 50px;
  font-family: "Bayon", sans-serif;
  /* padding: 20px; */
}

/* navigation bar styling */
.navbar-custom {
  background-color: transparent;
}

.navbar-custom a {
  text-decoration: none;
  color: white;
  padding: 30px 15px 26px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.navbar-custom a:hover {
  background-color: #ac313d;
}

.navbar-custom button {
  background-color: transparent;
  border-color: transparent;
  margin-top: 1px;
  margin-right: 2px;
}

.navbar-custom button img {
  max-width: 20px;
  max-height: 20px;
  width: auto;
  height: auto;
  display: block;
}
.navbar-custom button:hover {
  cursor: pointer;
}

/* chatbot icon */
#chatbot-icon {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #f4f4f4;
  padding: 20px;
  border: 2px solid #981f2b;
  transition: background-color 0.3s, transform 0.2s;
  z-index: 2;
}

.iframeContainer {
  position: fixed;
  right: 2%;
  bottom: 2%;
  z-index: 100;
  border: none;
}

/* resources_image styling */

#resources-image {
  max-width: 100%;
  opacity: 0.5;
}

.resources-container_custom {
  text-align: center;
}

.resources_heading-custom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  opacity: 0;
  animation: slideUpFadeIn 1s ease forwards;
}
@keyframes slideUpFadeIn {
  from {
    top: 100%;
    opacity: 0;
  }
  to {
    top: 40%;
    opacity: 1;
  }
}
#heading1-custom {
  font-family: "Bayon", sans-serif;
  font-size: 100px;
  margin: 0;
  color: white;
}

.slides-custom {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  background-color: #333;
}

.slides-custom img {
  width: 100%;
  height: auto;
}

/* dividers */

.divider-custom {
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px;
  border: 2px solid #981f2b;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: #000;
  max-width: 80%;
  margin: 20px auto;
  line-height: 1.5;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.quote-custom {
  padding: 10px;
}

/* styling the templates */

/* resources_overview (consists of cards with domain names)*/
.resources_cards_container-custom {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#resources-heading {
  margin-top: 2%;
  text-align: center;
  font-family: poppins;
  color: #981f2b;
  text-shadow: 1px 1px 3px #95686c;
}
.cards-container-custom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2%;
  margin: 2%;
  margin-top: 0;
}
/* resources_cards (for each domain card) */
.domain_card-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  margin: 3%;
  padding: 2%;
  border: 2px solid #981f2b;
  border-radius: 19px;
  background-color: #f4f4f4;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}

.domain_name-custom {
  text-align: center;
  color: #981f2b;
  font-family: poppins;
  font-size: 30px;
}

.domain_card-custom:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0px 0px 20px #95686c, 0px 0px 40px #f4f4f4;
}
/* resources_incard (consists of cards with sub domain name) */
.sub_domains_container-custom {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 2%;
  text-align: center;
  font-family: poppins;
  color: #981f2b;
}

.sub_domains_container-custom h1 {
  margin-top: 2%;
  text-align: center;
  font-family: poppins;
  color: #981f2b;
  text-shadow: 1px 1px 3px #95686c;
}
.sub_domain_cards_container-custom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2%;
  margin: 2%;
  margin-top: 0;
}
/* resources_subdomains_card (for each sub domain card)*/

.sub_domain_card-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  margin: 3%;
  padding: 2%;
  border: 2px solid #981f2b;
  border-radius: 19px;
  background-color: #f4f4f4;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}
.sub_domain_name-custom {
  text-align: center;
  color: #981f2b;
  font-family: poppins;
  font-size: 35px;
}

.sub_domain_card-custom:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0px 0px 20px #95686c, 0px 0px 40px #f4f4f4;
}
/* resources_topics_in_sub_domains_card (consists of topics cards for each topic) */
.topics_container-custom {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 2%;
  text-align: center;
  font-family: poppins;
  color: #981f2b;
}
.topics_cards-container-custom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2%;
  margin: 2%;
  margin-top: 0;
}

.topics_container-custom h1 {
  margin-top: 2%;
  text-align: center;
  font-family: poppins;
  color: #981f2b;
  text-shadow: 1px 1px 3px #95686c;
}
/* resources_topics_card (for each topic card)*/

.topics_card-custom {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  margin: 3%;
  padding: 5%;
  border: 2px solid #981f2b;
  border-radius: 19px;
  background-color: #f4f4f4;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}
.topic_name-custom {
  text-align: center;
  color: #981f2b;
  font-family: poppins;
  font-size: 25px;
}

.topics_card-custom:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0px 0px 20px #95686c, 0px 0px 40px #f4f4f4;
}
/* resources_in_sub_domain_card (consists of direct links to the sub domain) */

.links_container-custom {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 2%;
  text-align: center;
  font-family: poppins;
  color: #981f2b;
}
.links-card-container-custom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2%;
  margin: 2%;
  margin-top: 0;
}
.links_container-custom h1 {
  margin-top: 2%;
  text-align: center;
  font-family: poppins;
  color: #981f2b;
  text-shadow: 1px 1px 3px #95686c;
}
/* resources_links_card  (for each links card)*/
.link_card-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  margin: 3%;
  padding: 5%;
  border: 2px solid #981f2b;
  border-radius: 19px;
  background-color: #f4f4f4;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}
.link_name-custom {
  text-align: center;
  color: #981f2b;
  font-family: poppins;
  font-size: 25px;
}

.link_card-custom:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0px 0px 20px #95686c, 0px 0px 40px #f4f4f4;
}
/* footer */

main {
  flex: 1;
}
footer {
  flex-shrink: 0;
}
.footer-custom {
  background-color: #981f2b;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-family: poppins;
}

.footer-logo a {
  text-decoration: none;
  font-size: 24px;
  font-family: bayon;
  color: white;
}

.footer-links a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-contact p {
  margin: 5px 0;
}
