* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

/* iframe {
  position: fixed;
  bottom: 10%;
  right: 10%;
  
  border: none;
  z-index: 9999;
} */

/* chatbot icon */
#chatbot-icon {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #f4f4f4;
  padding: 20px;
  border: 2px solid #981f2b;
  transition: background-color 0.3s, transform 0.2s;
  z-index: 2;
}

.chatbot {
  position: fixed;
  bottom: 120px; /* Adjust as needed */
  right: 40px; /* Adjust as needed */
  width: 500px;
  height: 620px;
  transform: scale(0.5);
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  background: #ffff;
  border: 3px solid #981f2b;
  border-radius: 15px;
  transform-origin: bottom right;
  box-shadow: 0 0 12px 8px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}

.show-chatbot .chatbot {
  transform: scale(1);
  opacity: 1;
  pointer-events: auto;
}

.chatbot header {
  background: #981f2b;
  padding: 14px 0;
  text-align: center;
  position: relative;
}

.chatbot header span {
  position: absolute;
  right: 20px;
  top: 50%;
  height: 40px;
  padding: 6px;
  padding-top: 6px;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  background-color: #f4f4f4;
  border-radius: 50%;
  display: none;
  transform: translateY(-50%);
}
.chatbot header h2 {
  color: #fff;
  font-size: 34px;
}

.chatbot .chatbox-custom {
  /* height: calc(100% - 80px); */
  height: 520px;
  overflow-y: auto;
  padding: 30px 20px 100px ;
  padding-bottom: 150px;
}

.chatbox-custom .chat {
  display: flex;
}

.chatbox-custom .chat p {
  max-width: 75%;
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  color: #f4f4f4;
  font-size: 16px;
  background: #981f2b;
}

.chatbox-custom .chat p.error {
  color: #721c24;
  background: #f8d7da;
}

.chatbot .chatbox-custom .incoming p {
  color: #981f2b;
  background: #f4f4f4;
  border-radius: 10px 10px 10px 0;
}

.chatbox-custom .outgoing {
  margin: 10px 0 10px 25px;
  justify-content: flex-end;
}

.chatbot .chat-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ffff;
  display: flex;
  gap: 5px;
  padding: 5px 20px;
  border-top: 1px solid #ccc;
}

.chat-input textarea {
  height: 55px;
  border: none;
  outline: none;
  font-size: 1.3rem;
  max-height: 180px;
  resize: none;
  padding: 16px 15px 16px 0;
}

.chat-input span {
  align-self: flex-end;
  height: 55px;
  line-height: 55px;
  font-size: 17px;
  cursor: pointer;
  visibility: hidden;
}

.chat-input textarea:valid ~ span {
  visibility: visible;
}

.chatbot-toggler {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 100px;
  width: 100px;
  background: #f4f4f4;
  border: 2px solid #981f2b;
  cursor: pointer;
  outline: none;
  /* border: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.show-chatbot .chatbot-toggler .chatbot-toggler span {
  position: absolute;
}

.show-chatbot .chatbot-toggler span:first-child,
.show-chatbot .chatbot-toggler span:last-child {
  opacity: 0;
}

.show-chatbot .chatbot-toggler > span:last-child {
  opacity: 0;
}

.show-chatbot .chatbot-toggler span:last-child {
  border-color: #981f2b;
  opacity: 1;
}

#loading_gif {
  opacity: 0.35;
  /* Example opacity value */
}

/* not working :( */
/* @media (max-width: 490px) {
  .chatbot {
    right: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
  }

  .chatbot .chatbox-custom {
    /* height: 90% !important; */
    background: black;
  }

  .chatbot header span {
    display: block !important;
  }
} */
